@mixin breakpoint($point) {
   @if $point == large-desktop {
     @media (min-width: 104em) { @content ; }
  }
  @else if $point == desktop {
     @media (max-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// Reset List
//
// Resets default list styling.
//
// @usage - `@include reset-list`
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Hovers
//
// Create pseduo-classes for `:hover`, `:active`, and `:focus`.
//
// @usage - `@include hover`
@mixin hover {
  &:hover,
  &:active,
  &:focus { @content; }
}


// Hidden
//
// Hide from both screenreaders and browsers
//
// @usage - `@include hidden`
@mixin hidden {
  display: none !important;
  visibility: hidden;
}


// Mixin for placeholder styling
// ------------------
@mixin placeHolder($color) {
  &::-webkit-input-placeholder { color:$color; }
  &:-moz-placeholder { color:$color; }
}
