<meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ description }}{% endif %}">
<meta name="author" content="{{ author }}">
<meta name="keywords" content="{{ page_keywords }}{{ keywords }}">
<meta name="Robots" content="index, follow">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta name="msapplication-tap-highlight" content="no">
<link rel="shortcut icon" href="{{ base_path }}{{favicon}}" type="image/x-icon">
<link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml">
<link rel="manifest" href="{{ base_path }}manifest.json">

<meta property="og:title" content="{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}{{ titlelast }}" />
<meta property="og:description" content="{% if page_description %}{{ page_description }}{% else %}{{ description }}{% endif %}">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{url}}" />
<meta property="og:image" content="{% if page_image %}{{ base_path }}{{ page_image }}{% else %}{{ base_path }}{{image}}{% endif %}" />

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="{{theme}}">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}{{ titlelast }}">
<link rel="icon" sizes="192x192" href="{{ base_path }}{{favicon}}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}{{ titlelast }}">
<link rel="apple-touch-icon" href="{{ base_path }}{{favicon}}">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="{% if page_image %}{{ base_path }}{{ page_image }}{% else %}{{ base_path }}{{image}}{% endif %}">
<meta name="msapplication-TileColor" content="{{theme}}">

<!-- Facebook page specifics -->
<meta property="og:title" content="{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}{{ titlelast }}">
<meta property="og:site_name" content="{{title}}">
<meta property="og:image" content="{% if page_image %}{{ base_path }}{{ page_image }}{% else %}{{ base_path }}{{image}}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:description" content="{% if page_description %}{{ page_description }}{% else %}{{ description }}{% endif %}">

<!-- Twitter page specifics -->
<meta name="twitter:title" content="{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}{{ titlelast }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{url}}">
<meta name="twitter:site" content="{{twitter}}">
<meta name="twitter:image" content="{% if page_image %}{{ base_path }}{{ page_image }}{% else %}{{ base_path }}{{image}}{% endif %}">
<meta name="twitter:description" content="{% if page_description %}{{ page_description }}{% else %}{{ description }}{% endif %}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}{{ titlelast }}">
<meta itemprop="description" content="{% if page_description %}{{ page_description }}{% else %}{{ description }}{% endif %}">
<meta itemprop="image" content="{% if page_image %}{{ base_path }}{{ page_image }}{% else %}{{ base_path }}{{image}}{% endif %}">

